@mixin block($width,$height:0,$dsp:''){
  width:$width;
  @if $height==0 {
    height: $width;
  }@else{
    height:$height
  }
  @if($dsp!=''){
    display: unquote($dsp);
  }
}

@mixin box-sizing($value){
  box-sizing: $value;
  -moz-box-sizing: $value;
}

@mixin circle($width,$display:block){
  @include box($width);
  @include border-radius(50%);
  display:$display;
}


@mixin form-placeholer(){
  &::-webkit-input-placeholder { /* WebKit browsers */
    @content;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    @content;
  }
}


@mixin dborder($color1,$color2){
  border: 1px solid $color1;
  outline: 1px solid $color2;
}



@mixin text($s:'',$w:'',$t:'',$d:'',$sl:'',$a:'',$ls:''){
  @if $s!=''{
    font-size:unquote($s);
  }
  @if $sl!=''{
    font-style:unquote($sl);
  }
  @if $w!=''{
    font-weight:unquote($w);
  }
  @if $t!=''{
    text-transform:unquote($t);
  }
  @if $d!=''{
    text-decoration:unquote($d);
  }
  @if $a!=''{
    text-align:unquote($a);
  }
  @if $ls!=''{
    letter-spacing:unquote($ls);
  }
}

@mixin input-height-padding($fSize,$height){
  line-height: 1;
  padding-top:($height - $fSize)/2 !important;
  padding-bottom:($height - $fSize)/2 !important;
}

@mixin vertical-center{
  &:after{
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 100%;
  }
  &>*{
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin margin-center{
  margin-left: auto !important;
  margin-right: auto !important;
}

@mixin list-indent($margin){
  &>li+li{
    margin-left: $margin;
  }
}


@mixin childs(){
  &>*+*{
    @content;
  }
}