$color1:#111 !default;
$bread-crumbs-link-color:#888;
$bread-crumbs-span-color:$color1;
$bread-crumbs-font-size:14px;

.b-breadcrumbs{
  width:100%;
  font-size: $bread-crumbs-font-size;
  &>li+li{
    &:before{
      content: ">";
      @include inline-block;
      color:$bread-crumbs-link-color;
      padding:0 5px;
      vertical-align: top;
      @include media-medium-down{
        padding: 0;
      }
    }
  }
  a{
    color:$bread-crumbs-link-color;
  }
  span{
    color:$bread-crumbs-span-color;
  }
}