$button-cursor:pointer;
/* ==|====================
   Все кнопки на сайте
   ======================= */
$btn-font-size:1rem;
$btn-font-color:white;
$btn-background-color:#000;
$btn-line-height:1;
$btn-height:3.7rem;
$btn-width:18rem;
$btn-padding-top: ($btn-height - $btn-font-size)/2;
.btn {
  display: inline-block;
  width:$btn-width;
  height: $btn-height;

  cursor: $button-cursor;
  font-size: $btn-font-size;
  letter-spacing: 0.06em;
  line-height: $btn-line-height;
  background-color: $btn-background-color;
  text-transform: uppercase;
  padding: $btn-padding-top 0;

  text-align: center;
  color:$btn-font-color;
  border:none;
  font-weight: 500;
  @include transition (all 0.2s ease);
  &:hover{
    background-color: adjust-lightness($btn-background-color, 10);
  }
}